extends layout

block content
  h1= title
  p Welcome to #{title}
  p API usage:
  p https://flight-xml.herokuapp.com/api/load/&lt;ident&gt;
  p Example:
  p https://flight-xml.herokuapp.com/api/load/AF1621
